<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Foodly</title>
    
    <link type="text/css" href="/css/styles.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

</head>

<body>
        <header>
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                <span class="site-heading-upper text-primary mb-3">We Are</span>
                <span class="site-heading-lower">Foodly</span>
            </h1>
        </header>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/">Home</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/signup">Sign Up</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/new-post">New Post</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/login">{{#if loggedIn}}logout{{else}}login{{/if}}</a>
                        </li>
                        </ul>
                </div>
            </div>
        </nav>
        
        <main>
            <section class="page-section clearfix">
                <div class="container">
                        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                            <h2 class="section-heading mb-4">
                                {{!-- Title --}}
                                <span class="section-heading-upper">Perfect Roasted Asparagus</span>
                            </h2>
                            {{!-- ingredients --}}
                            <p class="mb-3">EveLemon zest and/or lemon wedges, Sprinkle of finely grated Parmesan cheese, Small handful of fresh mint or parsley, finely chopped, Light sprinkle of red pepper flakes,
                            Pat or two of butter, Light drizzle of balsamic reduction or thick balsamic vinegar, Toasted sliced almonds.</p>
                            {{!-- post_body --}}
                            <p class="mb-3">Preheat the oven to 425 degrees Fahrenheit and line a large, rimmed baking sheet with parchment paper for easy cleanup. Snap off the woody ends of the asparagus (if you sharply bend the asparagus near the base, it will snap in the right place). Discard the ends.
                            Place the asparagus on the sheet and drizzle with 1 to 2 teaspoons olive oil, just enough to lightly coat the asparagus. Sprinkle salt and pepper over the asparagus, and toss until the spears are lightly coated in oil. Arrange the spears in a single layer on the pan.
                            Bake just until the base of the asparagus is easily pierced through by a fork. Very thin asparagus, like the kind shown here, will take as little as 9 to 12 minutes, whereas thicker asparagus will need 15 to 20 minutes.
                            Transfer the roasted asparagus to a serving platter and season however you’d like. You could keep it simple with a squeeze of lemon juice, or a sprinkle of Parmesan, or add a pat of butter or drizzle of balsamic vinegar.
                            Roasted asparagus is best served when it’s fresh out of the oven, but it will keep at room temperature for up to 1 hour or up to 4 days in the refrigerator (gently reheat before serving).  </p>
                            </div>
                </div>
            </section>
            {{{ body }}}
        </main>


        <footer class="footer text-faded text-center py-5">
            <div class="container"><p class="m-0 small">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
            {{#if loggedIn}}
                <script src="/javascript/logout.js"></script>
            {{/if}}
        <script src="js/scripts.js"></script>
    </body>

</html>
