<ul class="post-list">

{{#each posts as |post|}}
    <li>
    <article class="post">
      <div class="title">
        <a class="section-heading mb-4 post-title" href="/post/{{id}}" target="_blank">{{post.title}}</a>
      </div>
      <div class="meta">
        Posted by {{post.user.username}}
      </div>
    </article>
    </li>
{{/each}}
</ul>