<ul class="post-list">

{{#each post as |post|}}
    <li>
    <article class="post">
      <div class="title">
        <a href="/views/single-post.handlebars" target="_blank">{{post.title}}</a>
      </div>
      <div class="meta">
        Posted by {{post.user.username}} on {{post.created_at}}
      </div>
    </article>
    </li>
{{/each}}
</ul>