<section class="sign-in-page">
    <div class="form-heading text-center">
        <h1>Sign Up</h1>
    </div>
    <div class="form-section d-flex justify-content-around">
        <form class="signup-form">
            <div>
                <label for="username-signup">Select a Username</label>
                <br>
                <input type="text" class="entry-field" id="username-signup" />
            </div>
            <div>
                <label for="password-signup">Select a password</label>
                <br>
                <input type="password" class="entry-field" id="password-signup" />
            </div>
            <div class="text-center">
                <button type="submit" class="login-signup-btn">Sign Up!</button>
            </div>
        </form>
    </div>

    <a href="/login" class="login-link">Log in Instead</a>
</section>

<script src="../public/signup.js"></script>